@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --primary-color: #ed125b;
  --light-black: #333;
  --hard-black: #222;
  --hard-black-opacity: #00000077;
  --white-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background: var(--light-black);
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px;
  border-bottom: 1px solid var(--hard-black);
  background: var(--hard-black-opacity);
  box-shadow: 0px -2px 12px var(--primary-color);
  text-align: center;
}

.links {
  font-size: 20px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  color: var(--white-color);
  text-decoration: none;
  position: relative;
}

.links a.active {
  color: var(--primary-color);
  font-weight: bold;
}

.links a:hover {
  color: var(--primary-color);
}

.links a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.links a:hover::after {
  width: 100%;
  transition: width 450ms cubic-bezier(0.76, 0.14, 0.15, 0.64);
}

/* ==== CARD ==== */
.card {
  background-color: var(--hard-black);
  width: 1080px;
  min-height: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
  animation: up 450ms ease-in-out;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

/* ==== DETAILS ==== */
.details {
  padding: 32px;
}

.details .inputs .item {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 16px 0;
}

.details .inputs .item:first-child {
  border: none;
}

.details h3,
.details .inputs .item div:nth-child(1) {
  color: #c0c0c0;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
  color: #e7e7e7;
  font-size: 18px;
  font-weight: bold;
}

.details h3 {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
}

.details .item span {
  background-color: #e7e7e7;
  border-radius: 16px;
  color: #000;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 16px;
  margin-right: 4px;
  margin-top: 8px;
  text-transform: uppercase;
  box-shadow: 0 0 7px 0 var(--primary-color);
}
